{% extends 'base.html.twig' %}

{% block body %}
    <!--Main column-->
    <div class="col-lg-8">

        <!--Post-->
        <div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">
            <!--Post data-->
            <form class="form-inline">
                <div class="row">
                    <!--First column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <i class="fa fa-search prefix"></i>
                            <input type="text" id="form76" class="form-control">
                            <label for="form76">Search..</label>
                        </div>

                    </div>
                </div>
            </form>

            <br>

            <!--Featured image -->
            <div class="view overlay hm-white-light z-depth-1-half">
                <img src="http://mdbootstrap.com/img/Photos/Slides/img%20(116).jpg" class="img-fluid " alt="">
                <div class="mask">
                </div>
            </div>

            <br>

            <!--Post excerpt-->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, officia omnis. Vero nihil neque
                dignissimos hic voluptas quisquam amet porro, similique libero ullam veritatis tempora cumque
                voluptates harum. Repellendus, impedit.</p>
            <h6>Written by <a href="">James Kisoro</a>, 20th May 2017</h6>
            <!--"Read more" button-->
            <button class="btn btn-info">Read more</button>


        </div>
        <!--/.Post-->

        <hr>


        <!--Post-->
        <div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">
            <!--Post data-->
            <!--Post excerpt-->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, officia omnis. Vero nihil neque
                dignissimos hic voluptas quisquam amet porro, similique libero ullam veritatis tempora cumque
                voluptates harum. Repellendus, impedit.</p>
            <h6>Written by <a href="">James Kisoro</a>, 20th May 2017</h6>
            <!--"Read more" button-->
            <button class="btn btn-info">Read more</button>


        </div>

        <!--/.Post-->

        <hr>

        <!--Post-->
        <!--Post-->
        <div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">
            <!--Post data-->

            <!--Post excerpt-->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, officia omnis. Vero nihil neque
                dignissimos hic voluptas quisquam amet porro, similique libero ullam veritatis tempora cumque
                voluptates harum. Repellendus, impedit.</p>
            <h6>Written by <a href="">James Kisoro</a>, 20th May 2017</h6>
            <!--"Read more" button-->
            <button class="btn btn-info">Read more</button>


        </div>
        <!--/.Post-->

        <hr>


    </div>

    <!--Sidebar-->
    <div class="col-lg-4">

        <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
            <h4>Favourite Jokes:</h4>
            <br>
            <div class="list-group">
                <a href="#" class="list-group-item">Most Liked</a>
                <a href="#" class="list-group-item">Most Commented</a>
                <a href="#" class="list-group-item">Most Shared</a>
            </div>
        </div>

    </div>
    <!--/.Sidebar-->
{% endblock %}
