/* YOUR CUSTOM STYLES */
.list-group-item.active {
    background-color: #33b5e5;
    border-color:#33b5e5
}

.list-group-item:not(.active) {
    color:#222;
}

.list-group-item:not(.active):hover {
    color:#666;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

#infinite-scroller {
    height: 500px;
    width: 700px;
    border: 1px solid #f5ad7c;
    overflow: scroll;
    padding: 0;


}

