{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <!--Form with header-->
        <div class="card">
            <div class="card-block">
                {{ form_start(form) }}
                <!--Header-->
                <div class="text-center">
                    <h3><i class="fa fa-pencil"></i> Post A Joke</h3>
                    <hr class="mt-2 mb-2">
                </div>

                <!--Body-->
                <div class="md-form">
                    <i class="fa fa-newspaper-o prefix"></i>
                    {{ form_widget(form.content, {'attr': {'class':'md-textarea'} }) }}
                    <label for="form2">Joke Content</label>
                </div>



                <div class="text-center">
                    <button class="btn btn-indigo">Submit</button>
                    <hr>
                </div>
            {{ form_end(form) }}
            </div>
        </div>
        <!--/Form with header-->
    </div>
{% endblock %}
